---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="mt-40 flex">
    <div>
      <div>
        <span
          class="bg-tertiary text-secondary font-medium text-sm p-2 rounded-full"
          >Welcome to CareCrest Medical Clinic</span
        >
        <h1 class="font-bricolage font-bold text-8xl my-4">
          Caring for you with <span class="text-tertiary">precision</span> and <span
            class="text-tertiary">heart</span
          >
        </h1>
      </div>
      <div>
        <p class="text-base">
          At CareCrest, we combine medical expertise with compassionate care to
          provide you and your family with the best healthcare services.
        </p>
      </div>
      <div class="flex gap-5 mt-8">
        <button
          class="text-medium text-base bg-tertiary text-secondary px-8 py-4 rounded-lg hover:scale-105 transition-transform duration-150 cursor-pointer"
        >
          Book an Appointment
        </button>
        <button
          class="text-medium text-base bg-quinary text-secondary px-8 py-4 rounded-lg hover:scale-105 transition-transform duration-150 cursor-pointer"
        >
          Meet our Doctors
        </button>
      </div>
    </div>
    <div
      class="w-1/2 bg-septenary/10 shadow-md h-96 rounded-lg flex justify-center items-center text-xl text-septenary"
    >
      image header
    </div>
  </section>
  <section class="my-40">
    <h2 class="text-5xl font-bricolage font-bold mt-20 text-center">
      Get in touch
    </h2>
    <div class="mt-20">
      <form class="flex gap-5 flex-col justify-center items-center">
        <div class="flex w-full gap-5">
          <div class="flex flex-col w-full">
            <label for="name">Full Name</label>
            <input
              type="text"
              placeholder="Luis Andres"
              class="border focus:border-senary border-senary/30 rounded-lg px-4 py-3 outline-none"
            />
          </div>
          <div class="flex flex-col w-full">
            <label for="email">Email Address</label>
            <input
              type="text"
              placeholder="luis@example.com"
              class="border focus:border-senary border-senary/30 rounded-lg px-4 py-3 outline-none"
            />
          </div>
        </div>
        <div class="flex w-full gap-5">
          <div class="flex flex-col w-full">
            <label for="number">Phone Number</label>
            <input
              type="text"
              placeholder="986-754-273"
              class="border focus:border-senary border-senary/30 rounded-lg px-4 py-3 outline-none"
            />
          </div>
          <div class="flex flex-col w-full">
            <label for="subject">Subject</label>
            <input
              type="text"
              placeholder="Appointment Request"
              class="border focus:border-senary border-senary/30 rounded-lg px-4 py-3 outline-none"
            />
          </div>
        </div>

        <div class="flex flex-col w-full">
          <label for="message">Message</label>
          <textarea
            placeholder="How can we help you?"
            class="border focus:border-senary border-senary/30 rounded-lg px-4 py-3 outline-none w-full"
          ></textarea>
        </div>
        <button
          class="bg-quinary px-8 py-4 rounded-lg cursor-pointer shadow hover:scale-105 transition-transform duration-150 text-secondary"
          >Book Appointment</button
        >
      </form>
    </div>
  </section>
</Layout>
