<header class="header font-inter">
  <div class="flex justify-between items-center">
    <div class="logo">
      <a href="/" class="text-4xl uppercase font-bold"> SERENA </a>
    </div>

    <nav class="nav">
      <ul class="flex gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
